#main-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}

.login-form{
    width: 40%;
    height: 80%;
    background-color: rgba(140, 140, 140, 0.033);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
}

.login-form:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.login-element{
    margin-top: 2rem;

}

.login-form input{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #b8b8b81c;
    width: 70%;
}

.login-form button{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #1fffb462;
    width: 50%;
    font-weight: bold;
}

.login-form button:hover{
    background-color: #1fffb4;
    color: black;
}