@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-y: hidden;
}

h1 {
  @apply text-6xl font-bold mb-6 mt-6 text-center;
}

h2 {
  @apply text-4xl font-bold mb-4 text-center;
}

.theme-change {
  transition: all 0.3s ease;
}

/* Add specific transitions for background and text color */
.theme-change {
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out;
}

/* Optional: Add transition for the shadow if you want it to animate too */
.theme-change {
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out,
              box-shadow 0.3s ease-in-out;
}